.home {
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
}

.homeRow {
  display: flex;
  align-items: baseline;
  z-index: 1;
}

.homeBanner {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1;
  margin-bottom: -40%;
}